.message-form {
  margin-top: 20px;
  padding: 20px;
}

.message-form input,
.message-form button {
  background: none;
  border: none;
}

.message-form div {
  background: none;
}

.message-form input {
  outline: none;
}

.message-form button {
  color: crimson;
}

#text {
  width: 300px;
}