.message-form {
  margin-top: 40px;
}

.message-form input, .message-form button{
  /* padding: 10px; */
  background: none;
  border: none;
}

.message-form div {
  background: none;
}

.message-form input {
  border-bottom: 1px solid lightseagreen;
  outline: none;
}

.message-form button{
  color: crimson;
}

#text{
  width: 300px;
}
