.message {
  background: lightskyblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;

  /* &-owner {
    align-self: end;
  }
  
  &-companion {
    align-self: start;
  } */

}

.message-owner {
  align-self: end;
}

.message-companion {
  align-self: start;
}

*/ .sender {
  color: gray;
}